<div class="messages">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
                <div class="close">
                    <img src="/assets/img/icons/close.svg" alt="close">
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
