{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    {{ form_errors(forgotPasswordForm) }}

    {{ form_start(forgotPasswordForm) }}
        {{ form_row(forgotPasswordForm.username) }}

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(forgotPasswordForm) }}
{% endblock %}
