{% extends 'base.html.twig' %}

{% block title %}SnowTricks | Accueil{% endblock %}

{% block banner %}
    <div class="banner">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-md-10 text-center">
                    <h1 class="display-5 fw-bolder text-white">SnowTricks : le site communautaire</h1>
                </div>
            </div>
        </div>
        <div class="down">
            <img src="/assets/img/icons/arrow_down.svg" alt="down">
        </div>
    </div>
{% endblock %}

{% block body %}
    <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
    <a href="{{ path('app_register') }}" class="btn btn-primary">Inscription</a>
{% endblock %}
