{% extends 'base.html.twig' %}

{% block title %}SnowTricks | Accueil{% endblock %}

{% block banner %}
    <div class="banner">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-md-10 text-center">
                    <h1 class="display-5 fw-bolder text-white">SnowTricks : le site communautaire</h1>
                </div>
            </div>
        </div>
        <div class="icon down">
            <img src="/assets/img/icons/down.svg" alt="down">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        {% for trick in tricks %}
            <div class="col-5ths mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="/assets/img/snowtricks_banner.jpg" alt="Figure image" />
                    <div class="card-body d-flex align-items-center justify-content-between p-4">
                        <a href="">
                            <h5 class="card-title mb-0">{{ trick.name }}</h5>
                        </a>
                        {% if app.user is same as trick.user %}
                            <div class="icons">
                                <a class="icon text-decoration-none" href="">
                                    <img src="/assets/img/icons/edit.svg" alt="edit">
                                </a>
                                <a class="icon text-decoration-none" href="">
                                    <img src="/assets/img/icons/delete.svg" alt="delete">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            {{ knp_pagination_render(tricks) }}
        </div>
    </div>
{% endblock %}
