body {
    position: relative;
    height: auto;
    min-height: 100vh;
    padding-bottom: 10vh;
}

nav {
    height: 10vh;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 10vh;
    padding: 20px 0;
}

.alert {
    border-radius: 0;
}

.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .down {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.banner .down img {
    width: 50px;
}

.banner .icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.banner .icons img {
    width: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

a.no-deco:hover {
    text-decoration: none;
}

.icon {
    transition: all .5s;
}

.icon:hover {
    cursor: pointer;
    opacity: .6;
}

.icon.disabled {
    opacity: .4;
}

.icon.disabled:hover {
    cursor: auto;
    opacity: .4;
}

.col-5ths {
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

.pagination .page-item.active .page-link {
    background-color: rgba(33, 37, 41, 1);
    color: white;
    border: none;
}

.pagination .page-item .page-link {
    text-decoration: none;
    color: inherit;
}

.row-img-vid .wrapper {
    padding: 0;
}

.row-img-vid img,
.row-img-vid iframe {
    width: 100%;
    height: 100%;
}

.border-bottom {
    border-bottom: 1px solid lightgrey;
}

.col-gap {
    column-gap: 10px;
}

.card-info {
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

textarea {
    height: auto !important;
}

#trick-form-wrapper form {
    width: 100%;
}

#trick-form-wrapper form select {
    height: calc(3.5rem + 2px);
}

#trick-form-wrapper form .icon {
    width: 25px;
}

#add_video {
    margin: 0 .5rem;
}

.images .wrapper,
.videos .wrapper {
    padding: 0;
}

.images img,
.videos iframe {
    width: 100%;
    height: 100%;
}

.container-image,
.container-video {
    width: auto;
    padding: 0;
}

.container-image .icon,
.container-video .icon {
    width: 25px;
}

.banner .icons {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 3px 5px;
    column-gap: 5px;
}

.no-label label {
    display: none;
}

.banner .form-control {
    font-size: 2rem;
    font-weight: 500;
}

.mr-3 {
    margin-right: 1rem;
}

.ml-3 {
    margin-left: 1rem;
}

.user-menu {
    column-gap: 20px;
}

.user-menu .item {
    cursor: pointer;
}

.user-menu .item.active {
    border-bottom: .5px solid grey;
}

.user-menu h2 {
    font-size: 20px;
}
