footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

.alert {
    display: flex;
    justify-content: space-between;
}

.alert .close {
    cursor: pointer;
}
