<h1>Bonjour
	{{ username }}
	!</h1>

<p>
	Pour votre demande de réinitialisation du mot de passe, veuillez cliquer sur le lien suivant :
	<a href="{{ url|raw }}">Réinitialiser mon mot de passe</a>.
</p>

<p>
	Merci !
</p>
